#A {
  background-color: hotpink;
}

#B {
  background-color: bisque;
}

#C {
  background-color: teal;
}

#D {
  background-color: coral;
}

#E {
  background-color: aqua;
}

#F {
  background-color: yellow;
}

#G {
  background-color: green;
}

#H {
  background-color: grey;
}

#I {
  background-color: blueviolet;
}
